utServer_WindowsAuth/utServer_WindowsAuth/bin
utServer_WindowsAuth/utServer_WindowsAuth/obj/Release
utServer_WindowsAuth/utServer_WindowsAuth/obj/Debug
UtilizationTrackerServices/UtilizationTrackerServices/.DS_Store
UtilizationTrackerServices/UtilizationTrackerServices/obj/.DS_Store
UtilizationTrackerServices/UtilizationTrackerServices.userprefs
UtilizationTrackerServices/.vs/.DS_Store
UtilizationTrackerServices/packages/.DS_Store
UtilizationTrackerServices/.DS_Store
.DS_Store

